.vscode/**
.vscode-test/**
.worktrees/**
.npm-cache/**
.superpowers/**
.git/**
dist/**
node_modules/**
out/test/**
test/**
src/**
scripts/**
docs/superpowers/**
.editorconfig
.gitignore
.npmrc
tsconfig.json
npm-debug.log
*.vsix
